* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100px;
	height: 100px;
	overflow: hidden;
}

div#content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 18px;
	background-color: #35465d;
}

ul#menu {
	width: 100%;
	height: 100%;
	background-color: #35465d;
	font-size: 40px;
	text-align: center;
}

ul#menu li {
	list-style: none;
	height: 50px;
	width: 100%;
	float: left;
}

ul#menu li:first-child {
	border-bottom: 1px solid #fff;
	color: #686868;
	cursor: default;
}

ul#menu li.list-loaded {
	color: #fff;
	cursor: pointer;
}

ul#menu li:last-child {
	border-top: 1px solid #fff;
	cursor: pointer;
}

textarea#tags-list {
	display: block;
	height: 50px;
	width: 80px;
	margin: 10px auto;
}

button#validate-tags {
	display: block;
	border: 0;
	background-color: #fff;
	margin: 0 auto;
	padding: 3px;
}

.show {
	display: block;
}

.hide {
	display: none;
}