* {
	margin: 0;
	padding: 0;
}

body, html {
	width: 100px;
	height: 50px;
	overflow: hidden;
}

div#content {
	width: 100%;
	height: 100%;
	color: #fff;
	font-size: 18px;
}

ul#menu {
	width: 100%;
	height: 100%;
	background-color: #35465d;
	font-size: 40px;
}

ul#menu li {
	display: inline-block;
	height: 50px;
	width: 38px;
	padding-left: 11px;
	float: left;
}

ul#menu li:first-child {
	border-right: 1px solid #fff;
	color: #686868;
}

ul#menu li.list-loaded {
	color: #fff;
	cursor: pointer;
}

ul#menu li:last-child {
	border-left: 1px solid #fff;
	cursor: pointer;
}